<a href="https://colab.research.google.com/github/zuzannazak/MgrSarcasm/blob/master/mgr_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import train_test_split

from sklearn.svm import LinearSVC

import csv

In [44]:
sentences = []
labels = []

with open('/content/drive/MyDrive/STUDIA/train-balanced.csv', 'r') as file:
    reader = csv.reader(file, delimiter='\t')
    for row in reader:
        labels.append(row[0])
        sentences.append(row[1])

In [45]:
X_train, X_test, y_train, y_test = train_test_split(sentences, labels, test_size=0.1, random_state=1337)

In [46]:
vectorizer = CountVectorizer()
svm = LinearSVC()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)
_ = svm.fit(X_train, y_train)
y_pred = svm.predict(X_test)
print(classification_report(y_test, y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

              precision    recall  f1-score   support

           0       0.67      0.71      0.69     56386
           1       0.69      0.65      0.67     56182

    accuracy                           0.68    112568
   macro avg       0.68      0.68      0.68    112568
weighted avg       0.68      0.68      0.68    112568

In [15]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/STUDIA/train-balanced.csv', '\t', header=None, usecols=[0,1])
df.head()

   0                                                  1
0  0                                   Dang dog, thanks
1  0  to summon the powers of the flying spaghetti m...
2  0       i did that 3rd last 1 by accident last night
3  0  He's insane, used him in DC, better than Blake...
4  0  Forgot about him, he's a pretty pointless card...

In [18]:
df.iloc[:,[1]]

                                                         1
0                                         Dang dog, thanks
1        to summon the powers of the flying spaghetti m...
2             i did that 3rd last 1 by accident last night
3        He's insane, used him in DC, better than Blake...
4        Forgot about him, he's a pretty pointless card...
...                                                    ...
1125673  So *that's* why I can point my finger and have...
1125674               If the IDF said it, it must be true.
1125675  That's why you have to read widely from Syria ...
1125676  Yeah, the Palestinian rocket actually left som...
1125677  Wait, are you saying people might not be telli...

[1125678 rows x 1 columns]

In [37]:
from io import StringIO
col = [0, 1]
df = df[col]
df = df[pd.notnull(df[1])]
df.columns = [0, 1]
df[0] = df[0].factorize()[0]
df.head()

   0                                                  1
0  0                                   Dang dog, thanks
1  0  to summon the powers of the flying spaghetti m...
2  0       i did that 3rd last 1 by accident last night
3  0  He's insane, used him in DC, better than Blake...
4  0  Forgot about him, he's a pretty pointless card...

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english')
features = tfidf.fit_transform(sentences)
labels = df[0]
features.shape
#Now, each of 1125678 sentences is represented by 139350 features, representing the tf-idf score for different unigrams and bigrams.

(1125678, 139350)

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
X_train, X_test, y_train, y_test = train_test_split(df[1], df[0], random_state = 0)
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
clf = MultinomialNB().fit(X_train_tfidf, y_train)

In [48]:
print(clf.predict(count_vect.transform(["Yes, definitely"])))

[1]

In [49]:
print(clf.predict(count_vect.transform(["I like cats"])))

[0]